extends layout

block content
    h1(class='title')= title

    if bookList.length
        ul
            each book in bookList
                li(class="page-text")
                    a(href=book.url) #{book.title}
                p Author: &nbsp
                    a(href=book.author.url) #{book.author.name}
    else
        p There are no books.