extends layout

block content

    h1 #{title} #{genre.name}?

    if genreBooks.length
        p.text-danger #[strong Delete the following books before attempting to delete this genre:]
        section.text-container
        each book in genreBooks
            ul
                li
                    a(href=book.url) #{book.title}
    else
        p Do you really want do delete this genre?
        form(method="POST")
            div.form-group
                input#form-control(type="hidden" value=genre._id name="id")
            button.btn.btn-danger(type="submit") Delete Genre

