extends layout

block content
    p
        a(href="/catalog/genres") Back to Genres
    h1 Genre: #{genre.name}

    div(class="text-container")
        h2(class="page-text") Books
        if genreBooks.length
            dl
                each book in genreBooks
                    dt
                        a(href=book.url) #{book.title}
                    dd #{book.summary}
                    br
        else
         p This genre has no books.
    hr
    p
        a(href=genre.url+"/delete")
            button.btn.btn-danger Delete Genre